/* CoursesEnrolled.css modificado */
.courses-enrolled-page {
    background-color: #f8f9fa;
    padding-top: 80px;
  }
  .courses-enrolled-page .course-card {
    margin-bottom: 1rem;
  }
  .courses-enrolled-page .progress-bar {
    transition: width 0.4s ease-in-out;
  }
  