/* header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #8bcece;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s ease;
    height: 80px;
  }
  .navbar {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .logo img {
    height: 58px;
    width: auto;
  }
  .main-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .main-menu ul li {
    margin: 0 10px;
  }
  .main-menu ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  .main-menu ul li a:hover {
    background-color: white;
    color: black;
    padding: 29px 15px;
  }
  .user-options a:hover {
    background-color: white;
    color: black;
    padding: 29px 15px;
  }
  .search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
  }
  .user-options {
    display: flex;
    align-items: center;
  }
  .user-options a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
  }
  @media (max-width: 460px) {
    .main-menu {
      display: flex;
      flex-direction: column;
      width: 250px;
      background-color: #333;
      position: fixed;
      top: 0;
      left: -250px;
      height: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 80px 20px 20px;
      transition: left 0.5s ease;
      z-index: 1000;
    }
    .main-menu ul li a {
      padding: 10px 15px;
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s;
    }
    .main-menu.active {
      left: 0;
    }
    body.menu-active {
      transform: translateX(250px);
      transition: transform 0.5s ease;
    }
    .hamburger {
      position: fixed;
      top: 15px;
      left: 15px;
      z-index: 1001;
      cursor: pointer;
    }
    .hamburger .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background-color: white;
    }
    .main-menu ul {
      flex-direction: column;
      width: 100%;
    }
    .main-menu ul li {
      margin: 10px 0;
    }
    .logo img {
      margin-left: 20px;
      height: 50px;
      width: 100px;
    }
    .search-bar input {
      padding: 3px 5px;
      font-size: 12px;
      width: 120px;
      height: 25px;
    }
  }
  