/* styles.css modificado */
.main-styles {
    font-family: Arial, sans-serif;
    padding-top: 55px;
  }
  
  /* Banner */
  .main-styles .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(to bottom right, #8bcece, #fff);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 20px;
  }
  
  .main-styles .title-banner {
    font-size: 2.5rem;
    color: #3b0e0e;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  
  .main-styles .title-text {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
    margin-bottom: 30px;
    font-family: 'Georgia', serif;
  }
  
  .main-styles .btm-banner {
    display: inline-block;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background: var(--primary-color);
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .main-styles .btm-banner:hover {
    background: #0056b3;
    box-shadow: 0 6px 10px rgba(0,0,0,0.3);
    transform: scale(1.05);
  }
  
  /* Carrusel */
  .main-styles .imagenes {
    display: flex;
    width: 100%;
    padding: 29px;
  }
  .main-styles .imagenes img {
    width: 100px;
    height: 400px;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }
  .main-styles .imagenes img:hover {
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }
  
  @media (max-width: 768px) {
    .main-styles .banner {
      padding: 15px;
    }
    .main-styles .title-banner {
      font-size: 2rem;
    }
    .main-styles .title-text {
      font-size: 1rem;
    }
    .main-styles .btm-banner {
      padding: 10px 25px;
      font-size: 0.9rem;
    }
  }
  