
    <link rel="stylesheet" href="../css/header.css">

    <header class="header">
        <!-- Logo -->
        <div class="logo">
            <a href="../index.html">
                <img class="logo-round" src="../img/logo.png" alt="Logo">
            </a></a>
            <h1>Relax Pro</h1>
            <p class="welcome">Bienvenido a nuestra página de cursos de relajación</p>
        </div>
        
        <!-- Menu navegation-->
        <nav class="nav">
            <ul class="barnav" id="navbar">
                <li class="menu"><a href="/index.html">Home</a></li>
                <li class="menu"><a href="/Vistas/course.html">Cursos</a></li>
                <li class="menu" id="menu-var"><a href="/Vistas/contact.html">Contacto</a></li>
                <li class="menu"><a href="/Vistas/Users.html">Usuarios</a></li>
                <li class="menu"><a href="/Vistas/report.html">Reportes</a></li>
                <li class="menu"><a href="/Vistas/Profile.html">Perfil</a></li>
            </ul>
            <div class="hamburger" id="hamburger" onclick="toggleMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
    </header>


